<%= form_with(model: [@category, task]) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :task, class:'form-label' %>
    </br>
    <%= form.text_field :task, class: "rounded border border-secondary px-3 py-2 mt-2 w-50" %>
  </div>
        
  <%= form.label 'Add a reminder for this task', class:'form-label mb-3' %>
  <div class="mb-3 input-group w-50">
    <%= form.date_field :date, class: "form-control border-secondary " %>
    <%= form.time_field :time, class: "form-control border-secondary " %>
  </div>

  <div class="mb-3">
    <%= form.number_field :category_id, value: @category.id, type: :hidden, class: "rounded border border-secondary px-3 py-2 mt-2" %>
  </div>
  </br>

  <div d-flex>
    <%= form.submit class: "btn btn-primary me-3" %>
    <%= link_to 'Back to Tasks', category_path(@category), class: "btn btn-outline-primary" %>
  </div>
  
<% end %>
