
<div class='d-flex align-items-center justify-content-between py-4 mb-5 border-bottom border-light'>
  <h5 class=''><%= @category.category_name %></h5>
  <%= link_to 'Back to tasks', category_path(@category), class: "btn btn-link me-5" %>
</div>

<div class='d-flex align-items-center justify-content-between'>
  <div class='d-flex align-items-center'>
    <p class="fs-3 mb-0 me-5"><%= @task.task %>
      <% if @task.status_completed %>
      <span class="badge rounded-pill border border-primary ms-3 text-primary"> ✓ Completed</span>
      <% end %>
    </p>
    <%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_category_task_path(@category, @task), class: "mx-2" %>
    <%= link_to '<i class="bi bi-trash3-fill"></i>'.html_safe, [@category, @task], data: { turbo_method: :delete }, class: 'mx-2' %>
  </div>

  <%= form_with(model: [@category, @task]) do |form| %>
    <%= form.text_field :task, type: 'hidden' %>      
    <%= form.date_field :date, type: 'hidden' %>
    <%= form.time_field :time, type: 'hidden' %>
    <%= form.number_field :category_id, type: 'hidden' %>
    <%= form.number_field :user_id, type: 'hidden' %>
    
    <% if @task.status_completed %>
      <%= form.check_box :status_completed, checked: false, class: "form-check-input visually-hidden", autocomplete: "off" %>
      <div class='d-flex'>
        <%= form.submit 'Mark as Incomplete', class: "btn btn-primary me-3" %>
      </div>
    <% else %>
      <div class='d-flex me-5'>
        <%= form.check_box :status_completed, checked: true, class: "form-check-input visually-hidden", autocomplete: "off" %>
      </div>
      <div class='d-flex'>
        <%= form.submit 'Mark as Completed', class: "btn btn-primary me-3" %>
      </div>
    <% end %>
  <% end %>

</div>
</br>

<% if @task.date %>
  <div class='d-flex align-items-center'>
    <i class="bi bi-calendar-check text-primary fs-5 me-3"></i>    
    <p class='fs-5 me-3 mb-0'><%= @task.date.strftime("%m/%d/%Y") %></p> 
    <i class="bi bi-alarm text-primary fs-5 me-3"></i>
    <p class='fs-5 me-3 mb-0'><%= @task.time.strftime("%I:%M%p") %></p>
  </div>
<% end %>





