<div class='container d-flex justify-content-between align-items-center py-4 mb-5 border-bottom border-light'>
  <div class='d-flex'>
    <h5 class='me-5'><%= @category.category_name %></h5>
    <%= link_to '<i class="bi bi-pencil-fill"></i>'.html_safe, edit_category_path(@category), class: "mx-2" %>
    <%= link_to '<i class="bi bi-trash3-fill"></i>'.html_safe, category_path(@category), data: { turbo_method: :delete }, class: 'mx-2' %>
  </div>

  <%= link_to 'Add task <i class="bi bi-plus-lg "></i>'.html_safe, new_category_task_path(@category), class: "btn btn-primary" %>
  
</div>

<% if @category.tasks %>
  <% @category.tasks.each do |task| %>
    <ul class="my-5 list-group">
      <li class='list-group-item'>
        <input type="checkbox" id= <%=task.id%> name= <%=task.id%> value= <%=task.id%> class='form-check-input me-3'>
        <label for=<%=task.id%>><%= link_to task.task, category_task_path(@category, task), class: 'text-decoration-none text-dark'%>
          <% if task.date %>
            <i class="bi bi-alarm text-primary ms-3">  <%= task.date.strftime("%m/%d/%Y") %>  <%= task.time.strftime("%I:%M%p") %></i>
          <% end %>
        </label>
      </li>
    </ul>
  <% end %>
<% end %>

