
<%= link_to 'Add task', new_task_path, class: "btn btn-primary" %>

<div class="container">
  <p class="my-5">
    <strong class="block font-medium mb-1">Category name:</strong>
    <%= @category.category_name %>
    id# <%= @category.id %>
  </p>

  <% if @category.tasks %>
  <ul class="my-5">
    <strong class="block font-medium mb-1">Tasks:</strong>

    <% @category.tasks.each do |task| %>
     <li><%= link_to task.task, task_path(task) %></li>
    <% end %>
  </ul>
  <% end %>

</div>

    <%= link_to 'Edit this category', edit_category_path(@category), class: "btn btn-primary" %>
    </br>
    </br>
    <%= button_to 'Destroy this category', category_path(@category), method: :delete, class: "btn btn-secondary" %>
  </div>
    
  
</div>